#contener {
	width: 100%;
	height: 100%;
}

/*身体开始*/
.page_body {
	width: 100%;
	height: 100%;
	background-image: url(../img/beijing.png);
	display: flex;
	padding: 30px 0;
}

/* 体左 */
.page_body_left {
	width: 210px;
	margin-left: 75px;
}

.page_body_left_top {
	width: 100%;
	height: 110px;
}

#img_01 {
	width: 95%;
}

/*体左上结束*/
.page_body_left_bottom {
	width: 100%;
	height: 100%;
}

.page_body_left_bottom a {
	padding-left: 15px;
	font-size: 13px;
	color: #66c0f4;
	text-decoration: none;
}

.page_body_left_bottom a:hover {
	color: #FFFFFF;
}

.fenlei {
	padding-left: 15px;
	font-size: 11px;
	color: rgb(176, 198, 186);
}

/*体左下结束*/
/*体右 开始*/
.page_body_right {
	width: 940px;
	height: 100%;
	margin-left: 20px;
}

/*体右上结束      体右中开始*/
.p_b_r_m {
	width: 100%;
	height: 100%;
	margin-top: 20px;
}

.p_b_r_m1 {
	width: 100%;
	height: 800px;
	display: flex;
	flex-direction: column;
}

.p_b_r_m1_1 {
	width: 100%;
	height: 390px;
}

.word {
	width: 940px;
	height: 50px;
	font-size: 17px;
	color: #fff;
	font-family: "Motiva Sans", Sans-serif;
	float: left;
	line-height: 50px;
	margin-top: 20px;
}

.p_b_r_m1_2 {
	margin-top: 20px;
	width: 100%;
	height: 390px;
}

.p_b_r_m1_2_1 {
	width: 304px;
	height: 300px;
	background-color: rgb(81, 108, 135);
	float: left;
	margin-left: 8px;
	position: relative;
}

.img01 {
	width: 280px;
	height: 300px;
	position: absolute;
	left: 17px;
	z-index: 1;
}

.a6 {
	width: 20px;
	height: 30px;
	font-weight: 1000;
	font-size: 30px;
	display: block;
	position: relative;
	top: 170px;
	left: 120px;
	z-index: 3;
	color: white;
}

.p_b_r_m1_2_2 {
	width: 100%;
	height: 30px;
	background-color: rgb(32, 117, 156);
	position: absolute;
	top: 270px;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #8f98a0;
	line-height: 30px;
	text-align: center;
}

.img02 {
	width: 304px;
	height: 250px;
}

.img04 {
	height: 32px;
	margin-left: 183.5px;
}

.p_b_r_m2 {
	width: 100%;
	height: 90px;
	float: left;
	margin-top: 70px;
}

.word1 {
	font-size: 17px;
	font-family: "Motiva Sans", Sans-serif;
	color: #fff;
}

.p_b_r_m2_1 {
	width: 226px;
	height: 58px;
	background-color: rgb(27, 101, 138);
	margin-right: 9px;
	line-height: 58px;
	text-align: center;
	font-size: 18px;
	color: #66c0f4;
	font-weight: 300;
	float: left;
}

.p_b_r_m3 {
	width: 100%;
	height: 830px;
	float: left;
}

.p_b_r_m3_1 {
	width: 940px;
	height: 30px;
	float: left;
	color: #4f94bc;
	margin-top: 20px;
}

/* 商品切换的按钮 */
.p_b_r_m3_1_1 {
	background-color: rgb(42, 71, 94);
	color: white;
	width: 100px;
	height: 30px;
	float: left;
	margin-left: 10px;
	line-height: 30px;
	text-align: center;
	font-size: 11px;
}

.p_b_r_m3_2 {
	width: 500px;
	height: 100%;
	float: left;
	display: none;
}

.p_b_r_m3_1_2_1 {
	width: 100%;
	height: 77px;
	float: left;
	margin-bottom: 10px;
}

.img3_1 {
	width: 184px;
	height: 77px;
	float: left;
}

.p_b_r_m3_1_2_11 {
	width: 316px;
	height: 77px;
	color: #4f94bc;
	background-color: rgb(26, 42, 56);
	float: left;
}

.wo1 {
	font-size: 14px;
}

.wo2 {
	font-size: 4px;
	text-align: right;
}

.wo3 {
	font-size: 4px;
}

.p_b_r_m3_3 {
	width: 500px;
	height: 100%;
	float: left;
	display: none;
}

.p_b_r_m3_4 {
	width: 350px;
	height: 100%;
	float: right;
	margin-left: 20px;
}

.p_b_r_m3_4_t {
	width: 350px;
	height: 40px;
	font-size: 17px;
	line-height: 40px;
	text-align: left;
	float: left;
}

.p_b_r_m3_4_m {
	width: 350px;
	height: 220px;
	float: left;
	margin-bottom: 15px;
	position: relative;
}

.img4_1 {
	width: 300px;
	height: 159.75px;
	position: absolute;
	left: 25px;
	float: left;
}

.ping {
	width: 350px;
	height: 40px;
	font-size: 11px;
	position: absolute;
	top: 170px;
}

.p_b_r_m4 {
	width: 100%;
	height: 320px;
	float: left;
}

.p_b_r_m4_1 {
	width: 150px;
	height: 220px;
	float: left;
	margin-left: 5px;
	background-color: rgb(50, 86, 111);
}

.img123 {
	width: 150px;
	height: 180px;
}

.imgw {
	color: #acdbf5;
	padding-left: 30px;
	font-size: 11px;
}

/*身体结束*/