#page_body {
	width: 100%;
	background: url(../img/beijing.png);
	padding: 40px 0 180px 0;

}

#page_body_da {
	width: 940px;
	margin: 0 auto;
}

.login_register {
	display: flex;
	margin: 20px auto;
}

/* 体左 */
#page_body_da_left {
	width: 610px;
	height: 380px;
	padding: 10px;
	background-color: rgb(0, 0, 0, 0.4);
	display: flex;
}

h2 {
	color: #ffffff;
	font-size: 18px !important;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Motiva Sans", Sans-serif;
}

.p {
	font-family: "Motiva Sans", Sans-serif;
	font-weight: normal;
	color: #c6d4df;
	font-size: 12px;
	margin: 5px 0;
}

.margin_t {
	margin-top: 15px;
}

.login_div {
	color: #FFFFFF;
}

.line {
	flex: 0;
	border-left: 1px solid #264959;
	width: 2px;
	height: 210px;
	margin: 0 30px;
}

.btn_div {
	margin: 50px 0;
}

.register_div {
	color: #FFFFFF;
}

.mt {
	margin-top: 147px;
}

.ws {
	font-size: 10px;
}

.kuang {
	height: 27px;
	width: 230px;
	border-radius: 3px;
	border: 1px solid gray;
	background-color: rgb(15, 42, 59);
	color: white;
}
.display_flex {
    display: flex;
    align-items: center !important;
}

/* 体左结束 */

/* 体右 */
#page_body_da_right {
	width: 300px;
	height: 380px;
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.4);
	margin-left: 30px;
	padding: 10px;
}

#page_body_da_right h2 {
	font-size: 14px !important;
	margin-bottom: 10px;
}

ul#why_list {
	list-style-position: inside;
	list-style-type: square;
	line-height: 22px;
	color: #c6d4df;
	font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;
}

.ln5 {
	margin: 22px 15px;
}

.btn {
	color: #67c1f5;
	border: 0px;
	height: 28px;
	width: 100px;
	font-size: 16px;
	background: rgb(15, 77, 106);
}

/* 体右结束 */
