@charset "UTF-8";

@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot?t=1553527156454'); /* IE9 */
	src: url('iconfont.eot?t=1553527156454#iefix')
		format('embedded-opentype'), /* IE6-IE8 */        
		url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK0AAsAAAAABmAAAAJoAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApogQMBNgIkAwgLBgAEIAWEbQczG6wFERWMV7IfBW7sBp/+nJL8Te6rPK2nnIPg+Xft7b4k85sy0TKrnnWAIGRJ6AqzksD96SK5SYCAsa3pGO6NilBdsudbz/Id+bHyl4ZlFUohJEJiwOX0RwEFMg8otz1prMljAgaWBrQ3tsmKJPKGsQte4HkIEESaEtIzjMxgMdjTBJBDbu92bMGLwbCERfA1rDXITRysuqQeAzei78snqrKgcDR2ycSe3l10uBVOij7pnbQpIPCBgDY7gAZKgAGZaYyOoRHG0gRFDVk4VqGAW+F5gQU5qhFhf52dHwJACowJuBWe5FHzFQAm6U4FFZOeDiok8siTJzNPn84+f7722bP1M3cvx625f2rxSuzs2gdX5k+m/0pY1n7XLJllv385nOv69bJect2Gqu/fHyY9vGTrk7Lg783xy5ePEquT6ADAW9UPdSICCPzvDx7bGt7yxwYbAF6sRB2mbm/VMMwOdq82gb8jHthkDKltVkYTN9oVqZOmKiCIIMADO6O8m6qLvZWkYIm9IUWAIc6gseSQhlkCh2Bq4MPSjiCK9W8OJtocGjGBQJFzAAImwgdKmBVoEb6kYf7giPOHT0RHBFlT9J7B8nKqm3ESXGF+g1soa9cqKi48obnHifPSiH1D3lwA2qopJ0bMyEss2B6mE9GgmRIM4DKMkaAweVyksiKlr2vd9KZqobRTujE0EWgFZm/AWZBMB52Fqnz+BBl30YQ7yuqCN4htXO+gVWkGkKMqDyp7lGs2D0ZHCA1ojCRgAKNQFBFQmkd5aCEqdkK46NVOOz1UVW2vST9QyKqw9SqnjyZwi9kY8oy7HQA=')
		format('woff2'), url('iconfont.woff?t=1553527156454') format('woff'),
		url('iconfont.ttf?t=1553527156454') format('truetype'),
		/* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1553527156454#iconfont') format('svg');
	/* iOS 4.1- */
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-chenggong:before {
	content: "\e630";
	font-size: 230px;
	color: #0075ea;
}

.div {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-row-gap: 60px;
	text-align: center;
}

span {
	font-size: 20px;
}

a {
	color: #0075ea;
}

a:hover {
	color: blue;
	font-size: 25px;
}